In [2]:
# Import the modules
import pandas as pd
from pathlib import Path

In [3]:
# Import data for homeless policy and homeless population in two csv files
policy_data_to_load = Path("2021-HNH-State-Crim-Supplement_Edited.csv")
population_data_to_load = Path("Homeless Population by State.csv")
state_ = Path("states_cords.csv")

# Read School and Student csv files and store in Pandas dataframes
homeless_laws = pd.read_csv(policy_data_to_load)
homeless_population = pd.read_csv(population_data_to_load)
state_cords = pd.read_csv(state_)

# Use pd.merge method to combine the dataframe into a single set using outer join 
homeless_merged = pd.merge(homeless_laws, homeless_population, how="outer", on=["State", "State"])
homeless_merged.head()

,State,Sleeping in public state- wide,Sleeping in particular public places,Camping in public state- wide,Camping in particular public places,Sitting/lying in particular public places,"Lodging, living, or sleeping in vehicles (or parking a vehicle used as a lodging / living accom- modation)",Loitering / Loafing / Vagrancy state-wide,Loitering / Loafing in particular public places,Standing in Roadway,...,Panhandling in particular public places,Panhandling in particular ways,Restrictiveness Score,Total,Per10kResidents,ChronicallyHomeless,PeopleInFamilyUnits,SoloIndividuals,UnaccompaniedYouths,Veterans
0,Alabama,False,False,False,False,False,False,True,True,True,...,True,True,6,3752,7.4,539,1270,2482,169,308
1,Alaska,False,False,False,True,False,False,False,False,False,...,False,False,1,2320,31.7,576,560,1760,186,134
2,Arizona,False,False,False,True,False,False,True,True,True,...,True,True,6,13553,18.6,2476,2846,10707,917,857
3,Arkansas,False,False,False,False,False,False,True,True,True,...,True,False,5,2459,8.1,376,328,2131,251,92
4,California,False,False,True,True,True,False,False,True,True,...,False,False,5,171521,43.7,57760,25538,145983,9590,10395

In [4]:
homeless_states = pd.merge(state_cords,homeless_merged, how="inner", on=["State", "State"])
homeless_states.head()

,State_ID,State,Lat,Lon,Sleeping in public state- wide,Sleeping in particular public places,Camping in public state- wide,Camping in particular public places,Sitting/lying in particular public places,"Lodging, living, or sleeping in vehicles (or parking a vehicle used as a lodging / living accom- modation)",...,Panhandling in particular public places,Panhandling in particular ways,Restrictiveness Score,Total,Per10kResidents,ChronicallyHomeless,PeopleInFamilyUnits,SoloIndividuals,UnaccompaniedYouths,Veterans
0,0,Alabama,33.258882,-86.829534,False,False,False,False,False,False,...,True,True,6,3752,7.4,539,1270,2482,169,308
1,1,Alaska,64.445961,-149.680909,False,False,False,True,False,False,...,False,False,1,2320,31.7,576,560,1760,186,134
2,2,Arkansas,35.204888,-92.447911,False,False,False,False,False,False,...,True,False,5,2459,8.1,376,328,2131,251,92
3,3,Arizona,34.395342,-111.763275,False,False,False,True,False,False,...,True,True,6,13553,18.6,2476,2846,10707,917,857
4,4,California,36.701463,-118.755997,False,False,True,True,True,False,...,False,False,5,171521,43.7,57760,25538,145983,9590,10395

In [5]:
# Rename columns to be more intelligible to readers

homeless_states = homeless_states.rename(columns={
                                                 'Sleeping in public state- wide':'Sleep in public statewide',
                                                 'Sleeping in particular public places':'Sleep in specific public places',
                                                 'Camping in public state- wide':'Camp in public statewide',
                                                 'Camping in particular public places': 'Camp in specific public places',
                                                 'Sitting/lying in particular public places':'Lying in specific public places',
                                                 'Lodging, living, or sleeping in vehicles (or parking a vehicle used as a lodging / living accom- modation)': 'Sleep/live in vehicle',
                                                 'Loitering / Loafing / Vagrancy state-wide' : 'Loitering statewide',
                                                 'Loitering / Loafing in particular public places': 'Loiter in specific public places',
                                                 'Standing in Roadway':'Standing in road',
                                                 'Panhandling in public places state- wide':'Panhandling statewide',
                                                 'Panhandling in particular public places':'Panhandling in specific public places',
                                                 'Total':'TotalPopulation'})
# Create ChronicPer10k column to measure chronic homeless population per 10,000 residents
homeless_states['ChronicPer10k'] = \
    homeless_states['Per10kResidents'] * homeless_states['ChronicallyHomeless'] / homeless_states['TotalPopulation']
# Print first five rows of dataframe with renamed columns
homeless_states.head()

,State_ID,State,Lat,Lon,Sleep in public statewide,Sleep in specific public places,Camp in public statewide,Camp in specific public places,Lying in specific public places,Sleep/live in vehicle,...,Panhandling in particular ways,Restrictiveness Score,TotalPopulation,Per10kResidents,ChronicallyHomeless,PeopleInFamilyUnits,SoloIndividuals,UnaccompaniedYouths,Veterans,ChronicPer10k
0,0,Alabama,33.258882,-86.829534,False,False,False,False,False,False,...,True,6,3752,7.4,539,1270,2482,169,308,1.063060
1,1,Alaska,64.445961,-149.680909,False,False,False,True,False,False,...,False,1,2320,31.7,576,560,1760,186,134,7.870345
2,2,Arkansas,35.204888,-92.447911,False,False,False,False,False,False,...,False,5,2459,8.1,376,328,2131,251,92,1.238552
3,3,Arizona,34.395342,-111.763275,False,False,False,True,False,False,...,True,6,13553,18.6,2476,2846,10707,917,857,3.398037
4,4,California,36.701463,-118.755997,False,False,True,True,True,False,...,False,5,171521,43.7,57760,25538,145983,9590,10395,14.716052

In [6]:
# Create ChronicPer10k column to measure chronic homeless population per 10,000 residents

homeless_states.count()

State_ID                                 51
State                                    51
Lat                                      51
Lon                                      51
Sleep in public statewide                51
Sleep in specific public places          51
Camp in public statewide                 51
Camp in specific public places           51
Lying in specific public places          51
Sleep/live in vehicle                    51
Loitering statewide                      51
Loiter in specific public places         51
Standing in road                         51
Panhandling statewide                    51
Panhandling in specific public places    51
Panhandling in particular ways           51
Restrictiveness Score                    51
TotalPopulation                          51
Per10kResidents                          51
ChronicallyHomeless                      51
PeopleInFamilyUnits                      51
SoloIndividuals                          51
UnaccompaniedYouths                      51
Veterans                                 51
ChronicPer10k                            51
dtype: int64

In [7]:
homeless_states.to_csv("cities-homeless.csv")
state_data = pd.read_csv("cities-homeless.csv")
state_data.head()

,Unnamed: 0,State_ID,State,Lat,Lon,Sleep in public statewide,Sleep in specific public places,Camp in public statewide,Camp in specific public places,Lying in specific public places,...,Panhandling in particular ways,Restrictiveness Score,TotalPopulation,Per10kResidents,ChronicallyHomeless,PeopleInFamilyUnits,SoloIndividuals,UnaccompaniedYouths,Veterans,ChronicPer10k
0,0,0,Alabama,33.258882,-86.829534,False,False,False,False,False,...,True,6,3752,7.4,539,1270,2482,169,308,1.063060
1,1,1,Alaska,64.445961,-149.680909,False,False,False,True,False,...,False,1,2320,31.7,576,560,1760,186,134,7.870345
2,2,2,Arkansas,35.204888,-92.447911,False,False,False,False,False,...,False,5,2459,8.1,376,328,2131,251,92,1.238552
3,3,3,Arizona,34.395342,-111.763275,False,False,False,True,False,...,True,6,13553,18.6,2476,2846,10707,917,857,3.398037
4,4,4,California,36.701463,-118.755997,False,False,True,True,True,...,False,5,171521,43.7,57760,25538,145983,9590,10395,14.716052

In [8]:
# Use .loc method to get pertinent columns we will need to do statistical hypothesis testing on

homeless_reduced = homeless_states.loc[:, ['State','Restrictiveness Score','TotalPopulation','Per10kResidents','ChronicallyHomeless','ChronicPer10k']]
homeless_reduced.head()

,State,Restrictiveness Score,TotalPopulation,Per10kResidents,ChronicallyHomeless,ChronicPer10k
0,Alabama,6,3752,7.4,539,1.063060
1,Alaska,1,2320,31.7,576,7.870345
2,Arkansas,5,2459,8.1,376,1.238552
3,Arizona,6,13553,18.6,2476,3.398037
4,California,5,171521,43.7,57760,14.716052